<div class="col-12">
    <div class="card">
        <form [formGroup]="formGroup" (ngSubmit)="onSaveBtnClicked($event)">
            <div class="p-fluid p-formgrid grid">
                <div class="field m-0 pb-0pb-0 col-12 md:col-4">
                    <label>Name</label>
                    <input formControlName="_id" pInputText type="text" />
                    <small
                        *ngIf="
                            formGroup.get('_id')?.errors &&
                            formGroup.get('_id')?.touched
                        "
                        class="p-error block"
                        >this field is required!</small
                    >
                </div>
                <div class="field m-0 pb-0pb-0 col-12 md:col-4">
                    <label>Channel</label>
                    <input formControlName="channel" pInputText type="text" />
                    <small
                        *ngIf="
                            formGroup.get('channel')?.errors &&
                            formGroup.get('channel')?.touched
                        "
                        class="p-error block"
                        >this field is required!</small
                    >
                </div>
                <div class="field m-0 pb-0pb-0 col-12 md:col-4">
                    <label>Weight</label>
                    <input formControlName="weight" pInputText type="text" />
                    <small
                        *ngIf="
                            formGroup.get('weight')?.errors &&
                            formGroup.get('weight')?.touched
                        "
                        class="p-error block"
                        >this field is required!</small
                    >
                </div>
                <div class="field m-0 pb-0pb-0 col-12 md:col-4">
                    <label>Schedule</label>
                    <input formControlName="schedule" pInputText type="text" />
                    <small
                        *ngIf="
                            formGroup.get('schedule')?.errors &&
                            formGroup.get('schedule')?.touched
                        "
                        class="p-error block"
                        >this field is required!</small
                    >
                </div>
                <div class="field m-0 pb-0pb-0 col-12 md:col-4">
                    <label>Events</label>
                    <input formControlName="events" pInputText type="text" />
                    <small
                        *ngIf="
                            formGroup.get('events')?.errors &&
                            formGroup.get('events')?.touched
                        "
                        class="p-error block"
                        >this field is required!</small
                    >
                </div>
                <div class="field m-0 pb-0pb-0 col-12 md:col-4">
                    <label>Provision</label>
                    <p-dropdown
                        formControlName="provision"
                        [options]="provisionNames"
                    ></p-dropdown>
                    <small
                        *ngIf="
                            formGroup.get('provision')?.errors &&
                            formGroup.get('provision')?.touched
                        "
                        class="p-error block"
                        >this field is required!</small
                    >
                </div>
                <div class="field m-0 pb-0pb-0 col-12 md:col-12">
                    <label>Precondition</label>
                    <textarea
                        formControlName="precondition"
                        rows="10"
                        cols="148"
                        pInputTextarea
                    ></textarea>
                </div>
                <div class="field m-0 pb-0pb-0 col-12 md:col-12">
                    <label>Arguments</label>
                    <textarea
                        formControlName="provisionArgs"
                        rows="10"
                        cols="148"
                        pInputTextarea
                    ></textarea>
                </div>
                <div class="col-12 text-right">
                    <button
                        pbutton=""
                        pripple=""
                        label="Submit"
                        class="p-element p-ripple p-button p-component button-cancel"
                        (click)="onCancelBtnClicked($event)"
                    >
                        <span class="p-button-label">Cancel</span>
                    </button>

                    <button
                        pbutton=""
                        pripple=""
                        label="Submit"
                        class="p-element p-ripple p-button p-component button-save"
                        (click)="onSaveBtnClicked($event)"
                    >
                        <span
                            class="p-button-icon p-button-icon-left pi pi-save"
                            aria-hidden="true"
                        ></span
                        ><span class="p-button-label">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
